*{
    width: 0;
    right: 0;
    padding: 0%;
}
body{
    display:;
    background-color: #f2d0e0;
/* }
.cabecalho {
  background-color: mediumvioletred;

}
.lateral{
    background-color: #f2d0e0;
    ;
} */
nav ul {
    list-style: none;
}